:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

#app {
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(36, 35, 35);
  width: 100%;
  height: 4em;
  align-items: center;
  padding-right: 10em;
}
.nav-item {
  font-weight: 500;
  color: inherit;
  font-size: 1.1em;
}
.nav-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: goldenrod;
  padding: 0em 2em;
}

.nav-item-container:hover {
  background-color: blueviolet;
  color: ghostwhite;
}
#page-container {
  padding: 3em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
